!!!
%html
  %head
    %title
      Tester
      
    %meta{:charset => "utf-8"}
    %meta{:name => "description", :content => "CarPrk Coming Soon"}
    %meta{:name => "keywords", :content => "CarPrk, Car Park, CarPark, Contract Car Parking, Contract CarParking, Contract Parking"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    
    %link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "images/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    
    %script{:type => "text/javascript", :src => "http://code.jquery.com/jquery-1.7.2.js"}
    %script{:type => "text/javascript", :src => "js/options.js"}
    
  %body
    %div{:class => "container"}
    
      %div{:class => "sidebar"}
        %h1
          CarPrk Coming Soon
        %div{:class => "working"}
        %h3
          It will be avalible for you in:
        %div{:class => "arrow"}
        %div{:class => "separate"}
        
        %div{:class => "social"}
          %div{:class => "twitt"}
            %div{:class => "twitter", :data{"user" => "@carprk", "posts" => 3}}
            %div{:class => "arrow_twitt"}
          %ul{:class => "social_icons"}
            %li
              %a{:class => "twitter active show-tooltip", :title => "Twitter", :href => "http://twitter.com/carprk"}
            %li
              %a{:class => "facebook show-tooltip", :title => "Facebook", :href => "https://www.facebook.com/pages/CarPrk-LTD/545220442265105"}
          %div{:class => "clear"}
          
      %div{:class => "content"}
        %div{:class => "top_line"}
        %div{:class => "top_head"}
        
        %div{:class => "bottle_box"}
          %div{:id => "days", :class => "bottle"}
            %div{:class => "bottle_section"}
              %div{:class => "overflow"}
                %div{:class => "fill fill_d"}
                %div{:class => "drop drop_d"}
              %div{:class => "bottle_bg"}
            %div{:class => "bottle_counter bottle_d"}
              49
          
          %div{:id => "hours", :class => "bottle"}
            %div{:class => "bottle_section"}
              %div{:class => "overflow"}
                %div{:class => "fill fill_h"}
                %div{:class => "drop drop_h"}
              %div{:class => "bottle_bg"}
            %div{:class => "bottle_counter bottle_h"}
              23
          
          %div{:id => "minutes", :class => "bottle"}
            %div{:class => "bottle_section"}
              %div{:class => "overflow"}
                %div{:class => "fill fill_m"}
                %div{:class => "drop drop_m"}
              %div{:class => "bottle_bg"}
            %div{:class => "bottle_counter bottle_m"}
              59
          
          %div{:id => "seconds", :class => "bottle_last"}
            %div{:class => "bottle_section"}
              %div{:class => "overflow"}
                %div{:class => "fill fill_s"}
                %div{:class => "drop drop_s"}
              %div{:class => "bottle_bg"}
            %div{:class => "bottle_counter bottle_s"}
              59
          
      %div{:class => "clear"}
    %div{:id => "footer"}
      %div{:class => "container"}
        &copy; 2014 CarPrk LTD